.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d4d4d6;
}

.product {
    display: flex;
}

.productImg {
    width: 180px;
    height: 180px;
    background-color: #f2f2f2;
    display: block;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.productImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productInfo {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 140px;
}

.product h2 {
    font-size: 16px;
    margin-bottom: 12px;
    width: 100%;
}

.product h3 {
    font-size: 13px;
}